.colorcode_0 { font-weight: bold; color: #000000; /*background-color: red;    opacity:0.8; */        }
.colorcode_1 { font-weight: bold; color: #DA0120;              }
.colorcode_2 { font-weight: bold; color: #00B906;              }
.colorcode_3 { font-weight: bold; color: #E8FF19;              }
.colorcode_4 { font-weight: bold; color: #170BDB;              }
.colorcode_5 { font-weight: bold; color: #23C2C6;              }
.colorcode_6 { font-weight: bold; color: #E201DB;              }
.colorcode_7 { font-weight: bold; color: #FFFFFF;              }
.colorcode_8 { font-weight: bold; color: #0AFF95;              }
.colorcode_9 { font-weight: bold; color: #757575;              }